<h1>New Game</h1>

<div class='container game-outer'>
	<div class='row outer_row'>
		<div class='col-md-3'>
			<div class='row card_decks dev-card-decks'>
				display card decks here
			</div>
		</div>
		<div class='col-md-9'>
			<div class='row player_row dev-dealer-cards'>
				dealer info here
			</div>
			<div class='row player_row dev-player-cards'>
				player info here
			</div>
			<div class='row buttons_row dev-buttons'>
				hit and deal buttons here
			</div>
		</div>
	</div>
</div>

<div class='playing-cards'>
	<div>
		Hello BlackJack
	</div>
	<div class="dev-card"></div>
</div>

<div id='games'>Replace this</div>

<%= link_to 'Back', games_path %>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new BlackJack.Routers.GamesRouter({posts: 'text'});
    Backbone.history.start();
  });
</script>